*{
    padding: 0;
    margin: 0;
    font-size: 1em;
    /* font-family: 'MuliDisplayVN', sans-serif; */
}

/*  */


body {
    width: 100% !important;
}

.product {
    margin-top: 3.5em;
    width: 100% !important;
}

.container-a {
    width: 100%;
}

/* content */
.product-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

/* left */
.product-content-left {
    width: 60%;
    display: flex;
    margin-top: 1em;
}

/* img */
/* big */
.product-content-left-big-img {
    height: 100%;
    width: 75%;
}

.product-content-left-big-img img{
    width: 100%;
    cursor: pointer;
}

/* small */
.product-content-left-small-img {
    width: 18%;
    height: 100%;
}

.product-content-left-small-img img{
    display: block;
    width: 100%;
    cursor: pointer;
    margin: 0.3em;
}

.product-content-left-img1,.product-content-left-img2,.product-content-left-img3{
    display:flex;
}
.product-content-left-img2 ,.product-content-left-img3{
    display: none;
}

.product-content-left-small-img img:hover , .product-content-left-big-img img:hover{
    border: 1px solid #000;
}



/* right */
.product-content-right {
    width: 38%;
    margin-top: 1em;

}

.product-content-right-product-name-style p {
    display: flex;
    /* width: 22%; */
    max-width: 30%;
    height: 2em;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
}

.product-content-right-product-colour{
    margin-bottom: 0.8em;
}

.product-content-right-product-colour-img img{
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.product-content-right-product-colour-img img:hover{
    transform: scale(1.1);
}

/* size */
.product-content-right-product-size {
    margin-bottom: 1em;
}


/* button buy now */
.btn{
    margin-bottom: 2em;
    width: 100%;
}
.btn1{
    color: #ffff;
    background-color: #000;
}

.btn1:hover{
    background-color: rgba(46, 44, 44, 0.9);
}






/* policy */
.product-content-policy {
    width: 90%;
    margin-top: 3em;
    margin-left: 5%;
}

.product-content-policy-content {
    display: flex;
}

/* title */
.product-content-policy-title{
    display: flex;
}






/*  */
.carousel {
    display: flex;
}

















/* contentttttt */

.product-content-right-product-infor-change{
    margin-top: 2em;
}
.product-content-right-product-infor-contact{
    margin-top: 2em;
}


.product-content-right-detail{
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #dddddd; 
    position: relative;
}
.product-content-right-detail-top{
     position: relative;
     width: 2em;
     height: 2em;
     border: 1.5px solid #000;
     display: flex;
     justify-content: center;
     background-color: #fff;
     align-items: center;
     border-radius: 50%;
     top: -3em;
     left: 48%;
     cursor: pointer;
 }
 .product-content-right-detail-bottom-title-item-mota{
     width: 100%;
     border-bottom: 1px solid #000;
     display: flex;
     align-items: center;
 }
 .product-content-right-detail-bottom-title-item-mota:hover{
    border-bottom: 1px solid #dddd;
    color: #151515;
    background-color: #e1ebea;
 }
 .product-content-right-detail-bottom-title-item-chitiet:hover{
    border-bottom: 1px solid #dddd;
    color: #151515;
    background-color: #e5ebeb;
 }
 .product-content-right-detail-bottom-title-item-chitiet{
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .product-content-right-detail-bottom-content-mota span{
     display: flex;
 }
 .product-content-right-detail-bottom-title{
    display: flex;
    margin-top: 1px;
    border-bottom: 2px solid #dddddd;
 }

.product-content-right-detail-bottom-content{
    padding-top: 2em;
}
.product-content-right-detail-bottom-content-mota ,.product-content-policy-content-huongdan{
    display: none;
}

.acticeB{
    display: none;
}

.product-content-policy-title-chinhsach{
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;

}
.product-content-policy-title-chinhsach h5{
    margin-right: 50px;
}
.product-content-policy-title-huongdan{
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-content-policy-title-huongdan:hover , .product-content-policy-title-chinhsach:hover{
    border-bottom: 1px solid #dddd;
    color: #151515;
    background-color: #e5ebeb;
 }
.product-content-policy-content{
    margin-top: 10px;
}
.product-content-policy-content-huongdan p{
    cursor: pointer;
}
.product-content-right-detail-bottom-content-chitiet{
    margin-left: 2em;
}
.product-content-left-img2 ,.product-content-left-img2{
    display: none;
}
.product-bottom-tittle{
    width: 90%;
    margin: 2em auto;
    text-align: center;
    padding-top: 2em;
    border-top: 1px solid #A0A0A0;
}
/* card overlay */
.cart__overlay {
    background-color: #fff;
    width: 35%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transform: translateX(100%);
    transition: transform linear 0.2s;
}

.cart__overlay__container {
    width: 86%;
    margin: 0 auto;
}

.cart__overlay__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

.cart__overlay__top i {
    font-size: 1.5em;
    cursor: pointer;
}

.count__product {
    width: 100%;
    border-bottom: 1px dotted rgb(196, 193, 193);
    padding-bottom: 1em;
}

.present__product {
    width: 100%;
    font-size: 0.9em;
    border-bottom: 2px solid #333;
    padding-bottom: 1.5em;
}

.sum__price {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.open__cart {
    width: 100%;
    height: 2.5em;
    display: flex;
    align-items: center;
    margin-top: 1em;
    background-color: rgb(66, 65, 65);
    color: #fff;
    justify-content: center;
    cursor: pointer;
}

.open__cart:hover {
    color: rgb(168, 160, 160);
}



 .search_diadiem{
   
     display: none;   
        /* width: 2000px; */
        position: fixed;
        top: 13px;
        right: 11%;
        border: 2px solid rgb(143, 141, 141);
        z-index: 9;

      
 }
 .search-diadiem-container {
    max-width: 1200px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right:50px ;
    background-color:#fff;
 
  }
/*  */
  


/* responsive */
/* @media (max-width: 46.249em)
@media (min-width: 46.25em) and (max-width: 64em) */

/* Tablet and Mobile */
@media (max-width: 64em) {
    /* policy */
    .product-content-policy {
        display: none;
    }

    .cart__overlay {
        width: 50%;
    }
}

/* Mobile */
@media (max-width: 46.249em) {
    /* content */
    .product-content {
        flex-direction: column;
    }

    /* left */
    .product-content-left {
        width: 100%;
        margin: 0 auto;
    }

    .product-content-left-big-img {
        width: 100%;
    }

    .product-content-left-small-img {
        display: none;
    }

    /* right */
    .product-content-right {
        width: 100%;
    }

    /* cart */
    .cart__overlay {
        width: 100%;
    }

}

     
    





